<!DOCTYPE HTML>
<html lang="en">

{{ template "header" }}

<body class="body">
	<main>
		<a href="/create">
			<button>
				Create Book
			</button>
		</a>
		<br>
		<table style="text-align: center">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Published</th>
				<th>Genre</th>
				<th>Read Status</th>
			</tr>
			{{ range .Books}}
			<tr>
				<td style="text-align: left">
					<a href="/{{.ID}}">{{ .Title}}</a>
				</td>
				<td>{{ .Author }}</td>
				<td>{{ .Published }}</td>
				<td>{{ .Genre }}</td>
				<td>{{ .ReadStatus }}</td>
				<td>
					<input type="button" value="delete" onclick="deleteReq('{{.ID}}')" />
				</td>
			</tr>
			{{ end }}
		</table>
	</main>
	<script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>
